.number__button{
    background-color: #4C6B28;
    color: #fff;
    font-size: xx-large;
}

.number__show{
    color: #4C6B28;
    background-color: #CED7AE;
    font-size: xx-large;
}

.item__image{
    object-fit: cover;
    width: 100%;
}